body {
    max-width: 1440px;
    min-height: 900px;
    background-color: #9DBEBB;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.main-screen {
    display: flex;
    width: 100%;
    flex-direction: row;
    max-width: 954px;
    min-height: 594px;
}

.first-screen {
    width: 609px;
    min-height: 594px;
    background-color: #BE0909;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

form {
    margin-left: 20px;
    max-width: 400px;
    width: 100%;
    min-height: 362px;
    padding: 20px;
    background-color: #BE0909;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
}

.second-screen {
    width: 100%;
    max-width: 345px;
    min-height: 594px;
    background-color: #FFB039;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}

img {
    width: 663px;
    height: 603px;
}

.button {
    align-self: center;
    width: 202px;
    height: 48px;
    background-color: #468189;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 20px;

}

.input-field-first:hover,
.input-field-second:hover {
    background-color: yellow;
}

.button:hover,
.textarea-first:hover,
.textarea-second:hover {
    background-color: yellow;
    color: rgba(70, 96, 96, 1);
}

.input-field-first:focus,
.input-field-second:focus,
.textarea-first:focus,
.textarea-second:focus {
    outline: none;
    box-shadow: 4px 4px 4px greenyellow;
}

.input-field-first,
.input-field-second,
.textarea-first,
.textarea-second {
    width: 100%;
    height: 36px;
    padding: 0px 0px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color:#BE0909;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
    color: #FDFFFF;
}

.input-field-first,
.textarea-second {
    width: 400px;
}

.input-field-second,
.textarea-first {
    width: 150px;
}