body {
    max-width: 1440px;
    min-height: 900px;
    background-color: #9DBEBB;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.main-screen {
    display: flex;
    width: 100%;
    flex-direction: row;
    max-width: 954px;
    min-height: 594px;
}

.first-screen {
    width: 609px;
    min-height: 594px;
    background-color: #BE0909;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

form {
    margin-top: ;
    margin-left: ;
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
    min-height: 362px;
    padding: ;
    background-color: #BE0909;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    margin-right: ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FEFFFF;
}

.second-screen {
    width: 100%;
    max-width: 345px;
    min-height: 594px;
    background-color: #FFB039;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}

img {
    width: 663px;
    height: 603px;
}